################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hackathon.Ok_Learning.Backend/.vs/Hackathon.Ok_Learning.Backend/v15
